<!--begin::Menu-->
<div class="btn btn btn-icon btn-light btn-active-secondary w-30px h-30px w-lg-40px h-lg-40px"
    data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end"
    data-kt-menu-flip="bottom">
    <!--begin::Svg Icon | path: icons/duotone/Code/Compiling.svg-->
    <span class="svg-icon svg-icon-1">
        <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/General/Notifications1.svg-->
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
            viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <path
                    d="M17,12 L18.5,12 C19.3284271,12 20,12.6715729 20,13.5 C20,14.3284271 19.3284271,15 18.5,15 L5.5,15 C4.67157288,15 4,14.3284271 4,13.5 C4,12.6715729 4.67157288,12 5.5,12 L7,12 L7.5582739,6.97553494 C7.80974924,4.71225688 9.72279394,3 12,3 C14.2772061,3 16.1902508,4.71225688 16.4417261,6.97553494 L17,12 Z"
                    fill="#000000" />
                <rect fill="#000000" opacity="0.3" x="10" y="16" width="4" height="4" rx="2" />
            </g>
        </svg>
        <!--end::Svg Icon-->
    </span>
    <!--end::Svg Icon-->
</div>
<!--begin::Menu-->
<div class="menu menu-sub menu-sub-dropdown menu-column w-350px w-lg-375px" data-kt-menu="true"
    style="z-index: 105; position: fixed; inset: 0px auto auto 0px; margin: 0px; transform: translate(894px, 65px);"
    data-popper-placement="bottom-end">
    <!--begin::Heading-->
    <div class="d-flex flex-column bgi-no-repeat rounded-top"
        style="background-image:url('assets/media//misc/pattern-1.jpg')">
        <!--begin::Title-->
        <h3 class="text-white fw-bold px-9 mt-10 mb-6">Notifications
            <span class="fs-8 opacity-75 ps-3">24 reports</span>
        </h3>
        <!--end::Title-->
        <!--begin::Tabs-->
        <ul class="nav nav-line-tabs nav-line-tabs-2x nav-stretch fw-bold px-9">
            <li class="nav-item">
                <a class="nav-link text-white opacity-75 opacity-state-100 pb-4 active" data-bs-toggle="tab"
                    href="#kt_topbar_notifications_1">Direct</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white opacity-75 opacity-state-100 pb-4 " data-bs-toggle="tab"
                    href="#kt_topbar_notifications_2">Watching</a>
            </li>
        </ul>
        <!--end::Tabs-->
    </div>
    <!--end::Heading-->
    <!--begin::Tab content-->
    <div class="tab-content">
        <!--begin::Tab panel-->
        <div class="tab-pane fade  show active" id="kt_topbar_notifications_1" role="tabpanel">
            <!--begin::Items-->
            <div class="scroll-y mh-325px my-5 px-8">
                <div class="d-flex flex-stack py-4" *ngFor="let item of dirrect">
                    <!--begin::Section-->
                    <div class="d-flex align-items-center">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-35px me-4">
                            <span class="symbol-label bg-light-primary">
                                <!--begin::Svg Icon | path: icons/duotone/Communication/Flag.svg-->
                                <span class="svg-icon svg-icon-2 svg-icon-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                        viewBox="0 0 24 24" version="1.1">
                                        <path
                                            d="M3.5,3 L5,3 L5,19.5 C5,20.3284271 4.32842712,21 3.5,21 L3.5,21 C2.67157288,21 2,20.3284271 2,19.5 L2,4.5 C2,3.67157288 2.67157288,3 3.5,3 Z"
                                            fill="#000000"></path>
                                        <path
                                            d="M6.99987583,2.99995344 L19.754647,2.99999303 C20.3069317,2.99999474 20.7546456,3.44771138 20.7546439,3.99999613 C20.7546431,4.24703684 20.6631995,4.48533385 20.497938,4.66895776 L17.5,8 L20.4979317,11.3310353 C20.8673908,11.7415453 20.8341123,12.3738351 20.4236023,12.7432941 C20.2399776,12.9085564 20.0016794,13 19.7546376,13 L6.99987583,13 L6.99987583,2.99995344 Z"
                                            fill="#000000" opacity="0.3"></path>
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                            </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Title-->
                        <div class="mb-0 me-2">
                            <a href="#" class="fs-7 text-gray-800 text-hover-primary"><span
                                    class="text-dark fs-7 fw-bold">{{item?.sender?.fullName |titlecase}}</span>
                            </a>
                            <a routerLink="item?.entity.link.url" class="fs-7 text-gray-800 text-hover-primary"><span
                                    class="text-dark fs-7">{{item?.message}}</span>
                            </a>
                            <a class="text-gray-400 fs-7">{{item?.subMessage}}</a>
                        </div>
                        <!--end::Title-->
                    </div>
                    <!--end::Section-->
                    <!--begin::Label-->
                    <span class="badge badge-light fs-7">{{item?.createdAt}}</span>
                    <!--end::Label-->
                </div>
                <div class="py-10" *ngIf="dirrect.length==0">
                    <h6 class="fw-bold text-center px-8"> You have no notifications from the last 30 days.</h6>
                </div>
                <!--end::Item-->
                <!--end::Item-->
            </div>
            <!--end::Items-->
            <!--begin::View more-->
            <!-- <div class="py-3 text-center border-top">
                <a href="#" class="btn btn-color-gray-600 btn-active-color-primary">
                    View All
                    begin::Svg Icon | path: icons/duotone/Navigation/Right-2.svg
                    <span class="svg-icon svg-icon-5">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                            height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                <rect fill="#000000" opacity="0.5"
                                    transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)"
                                    x="7.5" y="7.5" width="2" height="9" rx="1"></rect>
                                <path
                                    d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                    fill="#000000" fill-rule="nonzero"
                                    transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)">
                                </path>
                            </g>
                        </svg>
                    </span>
                    end::Svg Icon
                </a>
            </div> -->
            <!--end::View more-->
        </div>
        <!--end::Tab panel-->
        <!--begin::Tab panel-->
        <div class="tab-pane fade" id="kt_topbar_notifications_2" role="tabpanel">
            <!--begin::Wrapper-->
            <div class="scroll-y mh-325px p-5">
                <!--begin::Section-->
                <div class="d-flex flex-stack pb-8" *ngFor="let item of watching">
                    <!-- <h5 class="fw-bold"> You have no notifications from the last 30 days.</h5> -->
                    <!--begin::Section-->
                    <div class="w-100">
                        <div class="d-flex ">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-35px me-4">
                                <span class="symbol-label bg-light-primary rounded-circle">
                                    <!--begin::Svg Icon | path: icons/duotone/Communication/Flag.svg-->
                                    <span class="svg-icon svg-icon-primary svg-icon-2">
                                     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"/>
                                            <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                            <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
                                        </g>
                                    </svg></span>
                                    
                                    <!--end::Svg Icon-->
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Title-->
                            <div class="mb-0 me-2 notifications-data">
                                <a href="#" class="fs-7 text-gray-800 text-hover-primary"><span
                                        class="text-dark fs-7 fw-bold">{{item?.sender?.fullName |titlecase}}</span>
                                </a>
                                <a [routerLink]="item?.entity?.link?.url || '/'" class="fs-7 me-2 text-gray-800 text-hover-primary">
                                    <span  class="text-dark fs-7">{{item?.message}}</span>
             
                                </a>
                                <small class="badge badge-light fs-9">{{item?.createdAt}}</small>
                                <div class="w-100 d-flex align-items-center">
                                <a class="text-gray-400 fs-7">
                                    <img alt="img" class="img-fluid w-15px me-1" src="../../../../assets/img/bugs.svg">
                                    {{item?.subMessage}}
                                </a>
                            
                            </div>
                            </div>
                            <!--end::Title-->
                        </div>
                        <!--end::Section-->
                        <!--begin::Label-->
                      
                    </div>
                    <!--end::Label-->
                </div>
                <!--end::Section-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Tab panel-->
        <div class="tab-pane fade" id="kt_topbar_notifications_2" role="tabpanel">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column px-9">
                <!--begin::Section-->
                <div class="py-10">
                    <h6 class="fw-bold text-center px-8"> You have no notifications from the last 30 days.</h6>
                </div>
                <!--end::Section-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--begin::Tab panel-->
        <!--end::Tab panel-->
    </div>
    <!--end::Tab content-->
</div>
<!--end::Menu-->
<!--end::Menu-->