<div class="login-form login-signup w-100" id="changepassword">
    <form class="form" novalidate="novalidate" [formGroup]="form">
        <!--begin::Title-->
        <div class="pb-10 pt-lg-0 pt-5">
            <h1 class="fw-bolder text-dark ">Change Password ?</h1>
        </div>
        <!-- <div class="form-group mb-10 has-danger">
          <div class="d-flex justify-content-between mt-n5">
             <label class="h5 fw-bolder text-dark pt-5">Old Password</label>
             <a href="#" class="text-primary h5 fw-bolder text-hover-primary pt-5"
                id="forget-password">Forgot Password ?</a>

          </div>
          <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg" type="password"
             name="password" autocomplete="off">
       </div> -->
        <div class="form-group mb-10 has-danger">
            <div class=" mt-n5">
                <label class="h5 fw-bolder text-dark pt-5">New Password</label>
            </div>
            <input class="form-control form-control-solid h-auto py-6 px-6 fs-5 rounded-lg" type="password" name="password"
                autocomplete="off" formControlName="password" (keyup)="validatePassword()">
            <div class="fv-plugins-message-container">
                <small class="text-danger">
                    <span class="text-dark">Password Must have</span>
                    <ul>
                        <li [class.text-success]="passwordStatus.count">
                            <i class="bi bi-exclamation-circle text-danger" *ngIf="!passwordStatus.count"></i>
                            <i class="bi bi-check2-circle text-success" *ngIf="passwordStatus.count"></i>
                            At least 7 characters
                        </li>
                        <li [class.text-success]="passwordStatus.number">
                            <i class="bi bi-exclamation-circle text-danger" *ngIf="!passwordStatus.number"></i>
                            <i class="bi bi-check2-circle text-success" *ngIf="passwordStatus.number"></i>
                            1 number
                        </li>
                        <li [class.text-success]="passwordStatus.uppercase">
                            <i class="bi bi-exclamation-circle text-danger" *ngIf="!passwordStatus.uppercase"></i>
                            <i class="bi bi-check2-circle text-success" *ngIf="passwordStatus.uppercase"></i>
                            1 uppercase letter
                        </li>
                        <li [class.text-success]="passwordStatus.lowercase">
                            <i class="bi bi-exclamation-circle text-danger" *ngIf="!passwordStatus.lowercase"></i>
                            <i class="bi bi-check2-circle text-success" *ngIf="passwordStatus.lowercase"></i>
                            1 lowercase letter
                        </li>
                        <li [class.text-success]="passwordStatus.symbol">
                            <i class="bi bi-exclamation-circle text-danger" *ngIf="!passwordStatus.symbol"></i>
                            <i class="bi bi-check2-circle text-success" *ngIf="passwordStatus.symbol"></i>
                            one special character
                        </li>
                    </ul>
                </small>
            </div>
        </div>
        <div class="form-group mb-10 has-danger">
            <div class=" mt-n5">
                <label class="h5 fw-bolder text-dark pt-5">Confirm Password</label>
            </div>
            <input class="form-control form-control-solid h-auto p-5 fs-5 rounded-lg" type="password" name="password"
                autocomplete="off" formControlName="confirmPassword" (change)="checkPassword()">
            <div class="fv-plugins-message-container"
                *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched">
                <small class="text-danger" *ngIf="form.get('confirmPassword')?.errors?.['required']">Confirm Password
                    required</small>
                <small class="text-danger" *ngIf="form.get('confirmPassword')?.errors?.['matched']">Password not
                    match</small>
            </div>
        </div>
        <div class="fv-plugins-message-container" *ngIf="message">
            <small class="text-danger" *ngIf="message?.showErrorMessage">{{message?.showErrorMessage}}</small>
            <small class="text-success" *ngIf="message?.successMessage">{{message?.successMessage}}</small>
        </div>
        <!--end::Form group-->
        <!--begin::Action-->
        <div class="pb-lg-0 pb-5">
            <button class="btn btn-primary fw-bolder fs-5 px-8 py-4 my-3 me-3" (click)="onSubmit()">Submit</button>
        </div>
        <!--end::Action-->
        <div></div>
    </form>
</div>



<notifier-container></notifier-container>